<div id="menu" style="display:none;">
<%= menu_navegacion2({:aplicaciones_web => "¿Qué ofrecemos?", :diseno_grafico => "Contáctenos", :contactenos => "Síguenos"}) %>
</div>
<div id="part1">
	<div class="row">
		<div class="col-md-12">
			<canvas id="canvas" width="1280" height="630" style="background: rgba(255, 255, 255, .1);"></canvas>
		</div>
	</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<div id="part2" class="row">
	<div class="container">
		<h1 class="white-text-color">¡Haz tu proyecto con nosotros!</h1>
	</div>
</div>
	<div id="part3" class="row section2"><br/>
		<div class="col-md-3 col-md-offset-1">
			<div class="thumbnail no-border">
				<%= image_tag("cloud.png",:class => "img-responsive",:size => "300x300") %>
				<div class="caption">
					<h3 class="white-text-color">Aplicaciones Web</h3>
					<p class="text-justify gray-text-color">Utilizamos las últimas tecnologías y metodologías para entregarle una página que resaltará la imagen de su empresa, con una constante asesoría para entender perfectamente el concepto que usted desea transmitir a sus clientes.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="thumbnail no-border">
				<%= image_tag("mobil.png", :class => "img-responsive", :size => "300x300") %>
				<div class="caption">
					<h3 class="white-text-color">Aplicaciones Móviles</h3>
					<p class="text-justify gray-text-color">Hoy en día las personas utilizan un teléfono móvil para buscar casi cualquier cosa. Su empresa debe aprovechar esta tecnología. Nosotros le podemos mostramos como hacerlo.<br/><br/></p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="thumbnail no-border">
				<%= image_tag("pencil.png", :class => "img-responsive", :size => "300x300") %>
				<div class="caption">
					<h3 class="white-text-color">Diseño Grafico</h3>
					<p class="text-justify gray-text-color">Sabemos lo importante que es la imagen de su empresa. Por este motivo dedicamos una gran parte de nuestro trabajo al desarrollo de la imagen corporativa de esta.<br/><br/><br/></p>
				</div>
			</div>
		</div>
	</div>
	
	<!--<div id="part4">
	<%= carrousel_tag(:images => ["ruby-on-rails.jpg","php.jpg","python.jpg","jquery.jpg","adobe.jpg","bootstrap.jpg"],:titles => [],:texts => []) %>
	</div>-->
<div id="part5" class="section4">
	<div class="container">
		<h1 class="white-text-color">Contáctenos</h1>
	<br/><br/><br/>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= form_tag("/home/enviar") do %>
				<%= text_field_tag("nombre","",:placeholder => "Tu nombre aquí",:class => "form-control form-backg") %><br/>
				<%= text_field_tag("asunto","",:placeholder => "Asunto",:class => "form-control form-backg") %><br/>
				<%= email_field_tag("email","",:placeholder => "tucorreo@tupagina.com",:class => "form-control form-backg") %><br/>
				<%= text_area_tag("body","",:placeholder => "Escríbenos sobre la App que deseas desarrollar ó sobre tu interés en hacer parte de nuestra compañía.",:class => "form-control form-backg",:size => "20x10") %><br/>
				<%= submit_tag("Enviar",:class => "form-control btn btn-danger") %>
			<% end %>
		</div>
	</div>
</div><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<br/><br/><br/><br/><br/>
<div id="part6">
<div class="container">
	<h1 class="white-text-color">Síguenos</h1><br/><br/>
	<div class="row">
		<div class="text-center">
			<%= link_to(image_tag("facebook.png",:size => "250x250"),"https://www.facebook.com/tuixcolombia") %>
			<%= link_to(image_tag("twitter.png",:size => "250x250"),"https://twitter.com/tuixcolombia") %>
			<%= link_to(image_tag("googleplus.png",:size => "250x250"),"https://plus.google.com/114561641603084783381") %>
		</div>
	</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
</div>
<!-- Animation scripts -->
<script src="/js/tuix.js" type="text/javascript"></script>